# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.vagrant/*
vendor/
ubuntu-bionic-18.04-cloudimg-console.log

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

redalert
dist/*
